{
	"plugins": ["prettier-plugin-tailwindcss"],
	"semi": true,
	"singleQuote": false,
	"useTabs": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"printWidth": 100,
	"tabWidth": 2
}
